:root {
  /* Primary Colors */
  --cyan: hsl(180, 66%, 49%);
  --darkviolet: hsl(257, 27%, 26%);
  /* Secondary Colors */
  --red: hsl(0, 87%, 67%);
  /* Neutral Colors */
  --gray: hsl(0, 0%, 75%);
  --infobg: hsl(230, 2%, 96%);
  --grayviolet: hsl(257, 7%, 63%);
  --darkblue: hsl(255, 11%, 22%);
  --verydarkviolet: hsl(260, 8%, 14%);
}

/* --------------------- */
/*        Tailwind       */
/* --------------------- */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------- */
/* Main elements styling */
/* --------------------- */
body {
  font-size: 18px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* ---------------- */
/* Navbar Elements  */
/* ---------------- */

/* Nav Bar Semantic Styling*/
.nav {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
}

.appTitle {
  font-size: 2rem;
  font-weight: 700;
}

/* List Items */
ul {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

ul li {
  float: left;
}

li {
  display: inline;
  padding: var(--font-height) var(--horiz-pad);
  border-right: 2px solid var(--white);
}

/* ---------------- */
/*       Hero       */
/* ---------------- */

.hero {
  padding: 0px 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: auto;
}

.heroText {
  grid-column-start: 3;
}

.heroImg {
  grid-column-start: 11;
}

.hero h1 {

  font-size: 4rem;
  color: var(--verydarkviolet);
}

.heroSubtext {
  font-size: 1rem;
  color: var(--gray);
}

.startButton {
  background-color: var(--cyan);
  width: 5rem;
  padding: 0rem 2rem;
  border-radius: 40%;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

/* ---------------- */
/*     URL Box      */
/* ---------------- */

.card-body {
  margin-inline: auto;
  width: 20rem;
  background-color: var(--darkviolet);
  background-image: url(./images/bg-shorten-desktop.svg);
}

.shortURL {
  margin-inline: auto;
}

/* ---------------- */
/*    Main:info     */
/* ---------------- */

.info {
  text-align: center;
  background-color: var(--infobg);
}

/* ---------------- */
/*       CTA        */
/* ---------------- */

.cta {
  background-color: var(--darkblue);
  background-image: url(./images/bg-boost-desktop.svg);
  text-align: Center;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2rem 4rem;
}

/* ---------------- */
/*      Footer      */
/* ---------------- */
.footer {
  padding: 0px 4rem;
  display: flex;
  background-color: var(--verydarkviolet);
  color: var(--gray);
}