@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

.linkSection {
    background-image: url(images/bg-shorten-desktop.svg);
}

.cta {
    background-image: url(images/bg-boost-desktop.svg);
}